{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
{{ parent() }}
   <link rel="stylesheet" href="{{ asset('css/home.css') }}?v=1.0">
{% endblock %}

{% block body %}
   <h1>Plateforme e-learning</h1>
   <h2>Etudiez de chez vous et en toute autonomie.</h2>
{% endblock %}
