{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/admin.css') }}?v=1.0">
{% endblock %}

{% block title %}Créer une lecon{% endblock %}

{% block body %}
<h1>Créer une lecon</h1>

<form method="post">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required>
    <button type="submit" class='btn'>Créer</button>
</form>
{% endblock %}