body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    height: 100%;
}

main{
    flex: 1;
    padding: 1em;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

form {
    margin: 20px;
}


.table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.table th, .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.btn {
    all: unset;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    margin: 9px;
    background-color: #007bff80;
    border-radius: 4px;
    text-align: end;
}

.btn a {
    text-decoration: none;
    color: black;
}

.btn2 {
    all: unset;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 9px;
    background-color: #00000023;
    border-radius: 4px;
    text-align: end;
}