body{
    background-color: rgb(255, 255, 255);
    font-family: Comic Sans MS, sans-serif;
    height: 100%;
}

main{
    flex: 1;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Conteneur global */
.theme-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f1f8fc; 
    border: 3px solid #0074c7;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/* En-tête du thème */
.theme-header {
    text-align: center;
    margin-bottom: 20px;
}

.theme-title {
    font-size: 28px;
    color: #333;
}

.theme-title span {
    font-weight: bold;
    text-transform: capitalize;
    color: #007BFF;
}

.theme-image-container {
    margin: 15px 0;
}

.theme-image {
    padding: 10px;
    max-width: 80%;
    height: auto;
    background-color: white;
    border: 1px solid #0074c7;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

/* Cursus section */
.cursus-container {
    margin-top: 30px;
}

.cursus-title {
    font-size: 22px;
    color: #0074c7;
    margin-bottom: 15px;
}

/* Liste des cursus */
.cursus-list {
    list-style: none;
    padding: 0;
}

.cursus-item {
    display: flex;
    width: 95%;
    gap: 45px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #0074c7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
}

.cursus-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cursus-name {
    font-weight: bold;
}

.cursus-price {
    font-size: 16px;
    font-weight: bold;
    color: #007BFF;
}

/* Transition visuelle au survol */
.cursus-item:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

/* Si aucun cursus est associé */
.cursus-empty {
    font-size: 16px;
    color: #555;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

/* Bouton retour */
.back-button {
    margin-top: 30px;
    text-align: center;
}

.back-button .btn, .cursus-item .btn {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button .btn:hover, .cursus-item .btn:hover {
    background-color: #0056b3;
}