{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
   <link rel="stylesheet" href="{{ asset('css/formation/cursus.css') }}?v=1.0">
{% endblock %}


{% block body %}
<h1>Ma liste de leçons</h1>

    {% if lecons is empty %}
        <p>Vous n’avez encore acheté aucune leçon.</p>
    {% else %}
<ul>
    {% for lecon in lecons %}
        <li>
            {{ lecon.lecon.nom }}
        </li>
        <a href="{{ path('contenu_lecon', { id: lecon.lecon.id }) }}"class='btn'>Voir</a>
    {% else %}
        <li>Aucune leçon trouvée.</li>
    {% endfor %}
</ul>
    {% endif %}
{% endblock %}